#everything {
	display: flex;
	height: 90vh;
	width: 90vw;
	text-align: center;
	margin: auto;
	background: #FCD45D;
	padding: 40px;
	border-radius: 40px;
	box-sizing: border-box;
	box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.4);
	align-items: center;
}

#letter {
	position: relative;
	margin: 5px;
	color: #723e00;
	font-family: georgia;
	font-size: 20px;
	line-height: 150%;
}

body {
/*background: rgb(233,196,106);
background: radial-gradient(circle, rgba(233,196,106,1) 0%, rgba(244,162,97,1) 100%);*/

/*background-color: #E9C46A;*/
/*
background: rgb(233,196,106);
background: linear-gradient(90deg, rgba(233,196,106,1) 0%, rgba(244,162,97,1) 100%);*/
background: #FCBC5D;
background: -moz-linear-gradient(left, #FCBC5D 0%, #FCCC5D 100%);
background: -webkit-linear-gradient(left, #FCBC5D 0%, #FCCC5D 100%);
background: linear-gradient(to right, #FCBC5D 0%, #FCCC5D 100%);
height: 100%;
width: 100%;
}

img {
	height: 90%;
	margin: 30px;
	cursor: pointer;
}